<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Alterar Acessorio</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="panel-default">
		<div class="text-center">
			<h1 class="h4 text-gray-900 mb-4">Alterar Acessorio</h1>
		</div>
		
		<div class="panel-body">
			<form class="form-horizontal" th:object=${acessorio} th:action=@{/acessorio/alterar} method="POST" style="margin:10px;">
				<div class="form-group">
					<fieldset>
						<div class="form-group row">
							<label>ID</label>
							<input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly" />
						</div>
						<div class="form-group row">
							<label>NOME</label>
							<input type="text" class="form-control input-sm" id="id" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome	" />
						</div>
					</fieldset>
				</div>
				<div align="center">
					<button type="submit" class="btn btn-sm btn-success">SALVAR</button>
					<a th:href="@{/acessorio/listar}" class="btn btn-sm btn-default">CANCELAR</a>
				</div>			
			</form>
		</div>
		<a class="btn btn-sm btn-success">CADASTRAR NOVA ACESSORIO</a>
	</div>
</body>
</html>